.search-higher-order-container{
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;

    .search-container{
        display: flex;
        width: 70%;
        height: 100%;
        
    }
    .sort-container{
        display: flex;
        height: 100%;
        width: 20%;
        
    }
    .grid-list-toggle-container{
        display: flex;
        height: 100%;
        width: 10%;
        
    }

}