<<<<<<< HEAD
=======

>>>>>>> Mark's_edits
.whole{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
<<<<<<< HEAD
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 20%;
}
}
=======

.image{
    margin-left: auto;
    margin-right: auto;
    size: 20%;
    
    // width: 20%;
}
.login{
    margin-top: 5%;
}
.reset{
    margin-top: 2%;
    // margin-bottom: 100%

}}

>>>>>>> Mark's_edits
