.whole{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 20%;
}
}
