@import "./../../../../default.scss";

.navbar {
  background-color: black !important;
  color: white !important;

  .nav-item {
    border: none !important;
    color: white !important;

    .nav-link.active {
      background-color: rgb(255, 255, 255) !important;
      color: black !important;
      font-weight: bold !important;
    }
    .nav-link {
      background-color: black !important;
      color: white !important;
    }
  }
}
