@import "./../../../../default.scss";

.navbar {
  background-color: rgb(244, 244, 244) !important;

  .nav-item {
    border-color: rgb(152, 152, 152) !important;

    .nav-link.active {
      background-color: rgb(189, 189, 189) !important;
    }
  }
}
