/*
for now we are not that worried about the beauty of the design, first priority is:
components showing the mock data correctly
    second:
components having the proper logic
    third:
components being styled well


 */
.list-item{
    display: flex;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
    .list-item-logo{
        display: flex;
        margin: auto auto auto 10px;
        height: 80%;
    }
    .list-item-name{
        display: flex;
        margin: 10px auto auto auto;
        height: 80%;
    }
    &:hover{
        cursor: pointer;
    }
}