@import "./../../../default.scss";

.search-higher-order-container {
  background-color: $primary_light;
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  padding: 2vh 0;

  border-bottom: 1px solid $border_light;
  border-top: 1px solid $border_light;

  .search-container {
    display: flex;
    width: 60%;
    height: 100%;
  }
  .sort-container {
    display: flex;
    height: 100%;
    width: 20%;
  }
  .grid-list-toggle-container {
    display: flex;
    height: 100%;
    width: 10%;
  }
}
