.grid-item{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    
    .grid-item-logo{
        width: 90%;
        height: auto;
    }
    .grid-item-name{

    }
    .info{

    }
}