.comment-viewer-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  .replies {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
}
