@import "./../../../default.scss";

.chat-messages-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
  .chat-bubbles-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }
}
