@import "./../../../default.scss";

.edit-page {
  .submit-button {
    position: fixed;
    bottom: 50px;
    width: 100%;
  }
}

.first-name-box{

}
.last-name-box{
  
}
.email-box{
  
}
.user-name-box{
  
}

// .submit-button{
//   position: fixed;
//   bottom: 50px;
//   width: 100%;
// }

.account-list {
  .user-avatar-component-container {
    //text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }

  .display-user-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    border: 1px;
    border-style: solid;
  }

  .user-data-viewer-container {
  }

  .submit-button {
  }
}
