.whole {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .image {
    margin-left: auto;
    margin-right: auto;
    size: 20%;

    // width: 20%;
  }
  .login {
    margin-top: 5%;
  }
  .reset {
    margin-top: 2%;
    // margin-bottom: 100%
  }
}
