nav {
  border: 1px solid black;
  border-width: 1px 0 1px 19px; /* no border on left or right */
  font-family: georgia;
  padding: 20px;
  margin: 20px 0; /* no margin on left or right */
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 20px;
}

nav a:hover {
  text-decoration: underline;
  background-color: yellow;
}
