.whole {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .image {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    margin-left: auto;
    margin-right: auto;

    width: 40%;
  }
  .login {
    margin-top: 5%;
  }
  .reset {
    margin-top: 5%;
    // margin-bottom: 100%
  }
}
