@import "./../../../default.scss";

.message-component-container {
    display: flex;
    flex-direction: column;
  .message-input-wrapper {
    display: block;
    width: 100%;
    background-color: black;

    .message-input-container {
      display: flex;
      flex-direction: row;

      width: 95%;

      margin: auto;
      padding: 10px 0;

      .message-input-button-rounded {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        width: 100%;
        border-radius: 10px;
        background-color: white;
        .message-input {
          margin: auto 0;
          margin-left: auto;
          width: 88%;
          background-color: white;
          color: black;
          line-height: 24px;
          font-size: 2em;
          border: none;
          outline: none;
        }
        .message-send-button {
          outline: none;
          margin-bottom: 2px;
          margin-top: auto;
          margin-right: auto;
          z-index: 1;
          width: 10%;
          height: 24px;
          border: none;
          border-radius: 24px;
          background-color: $text_sent;
          color: white;

          &:active {
            border: none;
            outline: none;
            background-color: $text_sent_variation;
          }
        }
      }
    }
  }
}
