.message-input-container{
    // position: relative;
    // bottom: 25px;
    position: fixed;
    bottom: 50px;
    width: 100%;
}

// .edit-page{
//     display: block;
// }

.submit-button{
    position: top;
}