@import "./../../../default.scss";

.message-input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $bottom_nav_offset;

  .message-input {

    
  }
  .message-send-button {
  }
}
