@import "./../../../default.scss";

$small_r: 2em;
$med_r: 4em;
$large_r: 25em;

.user-avatar-container {
  margin: auto;
  .user-avatar {
    display: flex;
    border-radius: 50%;
    overflow: hidden;

    &.small {
      height: $small_r;
      width: $small_r;
    }
    &.med {
      height: $med_r;
      width: $med_r;
    }
    &.large {
      height: $large_r;
      width: $large_r;
    }

    .user-avatar-img {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  .edit-icon-container {
    display: flex;

    height: $small_r;
    width: $small_r;
    border-radius: 50%;

    position: relative;
    bottom: 60px;
    left: 190px;

    background-color: $text_primary_light;
    color: $primary_light;
    overflow: hidden;

    cursor: pointer;
    svg {
      margin: auto !important;
    }
  }
}
