@import "./../../../../default.scss";

.page-title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5vh;
  font-size: 2rem;
  border-bottom: 1px solid $border_light;
  background-color: $primary_light;

  .back-button,
  .page-options {
    width: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &:hover {
      background-color: rgba(128, 128, 128, 0.377);
    }
  }
  .page-title {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
