@import "./../../../default.scss";

.error-modal-wrapper {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(rgb(0, 0, 0), 0.5);
  text-align: center;
  z-index: 10000;

  .error-modal-container {
    display: flex;
    margin: (20px auto) auto;
    width: 95%;
    min-height: 50px;
    border-radius: 10px;

    &.error {
      background-color: rgb(219, 107, 107);
    }
    &.success {
      background-color: rgb(106, 197, 98);
    }

    .error-message-container {
      display: flex;
      margin: auto;
      font-size: 2em;
      font-weight: bold;
      color: white;
    }
  }
}
