@import "./../../../default.scss";

.loading-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.loading-container {
 margin: auto;
}

.loading {
  margin: auto;
  width: auto;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.circle {
  border-radius: 60%;
  background-color: black;
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(0.31, 0.11, 0.61, 0.31);
}

.item {
  z-index: 100;
  padding: 5px;
  width: 50%;
}
.item img {
  display: flex;
  margin: auto;
  width: 50%;
  border-radius: 50%;
  overflow: hidden;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.error-modal-wrapper {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(rgb(0, 0, 0), 0.5);
  text-align: center;
  z-index: 10000;

  .error-modal-container {
    display: flex;
    margin: (20px auto) auto;
    width: 95%;
    min-height: 50px;
    border-radius: 10px;

    &.error {
      background-color: rgb(219, 107, 107);
    }
    &.success {
      background-color: rgb(106, 197, 98);
    }

    .error-message-container {
      display: flex;
      margin: auto;
      font-size: 2em;
      font-weight: bold;
      color: white;
    }
  }
}
